In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import talib as ta
import seaborn as sns
import fix_yahoo_finance

from pandas_datareader import data as web
from sklearn import mixture as mix
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [2]:
df = web.get_data_yahoo('SPY', start = '2000-01-01', end = '2017-08-08')
df = df[['Open', 'High', 'Low', 'Close']]

In [3]:
df.head()

                  Open        High         Low     Close
Date
1999-12-31  146.843704  147.500000  146.250000  146.8750
2000-01-03  148.250000  148.250000  143.875000  145.4375
2000-01-04  143.531204  144.062500  139.640594  139.7500
2000-01-05  139.937500  141.531204  137.250000  140.0000
2000-01-06  139.625000  141.500000  137.750000  137.7500

In [4]:
n = 10
t = 0.8

In [5]:
split = int(t * len(df))

In [7]:
split

3543

In [8]:
df['high'] = df['High'].shift(1)
df['Low'] = df['Low'].shift(1)
df['Close'] = df['Close'].shift(1)

In [11]:
df['RSI'] = ta.RSI(np.array(df['Close']), timeperiod = n) 
df['SMA'] = df['Close'].rolling(window = n).mean()
df['Corr'] = df['SMA'].rolling(window = n).corr(df['Close'])
df['SAR'] = ta.SAR(np.array(df['High']), np.array(df['Low']), 0.2,0.2)
df['ADX'] = ta.ADX(np.array(df['High']), np.array(df['Low']),
                    np.array(df['Close']), timeperiod = n)

In [12]:
df['Return'] = np.log(df['Open'] / df['Open'].shift(1))

In [14]:
df.head(20)

,Open,High,Low,Close,high,RSI,SMA,Corr,SAR,ADX,Return
Date,,,,,,,,,,,
1999-12-31,146.843704,147.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,148.250000,148.250000,146.250000,146.875000,147.500000,NaN,NaN,NaN,NaN,NaN,0.009531
2000-01-04,143.531204,144.062500,143.875000,145.437500,148.250000,NaN,NaN,NaN,148.250000,NaN,-0.032348
2000-01-05,139.937500,141.531204,139.640594,139.750000,144.062500,NaN,NaN,NaN,147.375000,NaN,-0.025357
2000-01-06,139.625000,141.500000,137.250000,140.000000,141.531204,NaN,NaN,NaN,145.828119,NaN,-0.002236
2000-01-07,140.312500,145.750000,137.750000,137.750000,141.500000,NaN,NaN,NaN,137.250000,NaN,0.004912
2000-01-10,146.250000,146.906204,140.062500,145.750000,145.750000,NaN,NaN,NaN,137.250000,NaN,0.041445
2000-01-11,145.812500,146.093704,145.031204,146.250000,146.906204,NaN,NaN,NaN,137.750000,NaN,-0.002996
2000-01-12,144.593704,144.593704,143.500000,144.500000,146.093704,NaN,NaN,NaN,139.581241,NaN,-0.008394
2000-01-13,144.468704,145.750000,142.875000,143.062500,144.593704,NaN,NaN,NaN,141.046234,NaN,-0.000865
2000-01-14,146.531204,147.468704,143.281204,145.000000,145.750000,NaN,143.437500,NaN,142.218228,NaN,0.014175
2000-01-18,145.343704,146.625000,145.968704,146.968704,147.468704,50.185783,143.446870,NaN,142.875000,NaN,-0.008137
2000-01-19,145.312500,147.000000,145.187500,145.812500,146.625000,47.753178,143.484370,NaN,143.281204,NaN,-0.000215
2000-01-20,146.968704,146.968704,145.000000,147.000000,147.000000,50.491755,144.209370,NaN,144.118704,NaN,0.011333
2000-01-21,145.500000,145.500000,143.812500,144.750000,146.968704,45.473738,144.684370,NaN,147.468704,NaN,-0.010044
2000-01-24,145.656204,145.843704,144.062500,144.437500,145.500000,44.786849,145.353120,NaN,146.968704,NaN,0.001073
2000-01-25,140.515594,141.937500,139.406204,140.343704,145.843704,36.714533,144.812491,NaN,146.337463,NaN,-0.035931
2000-01-26,141.000000,141.546799,139.000000,141.937500,141.937500,41.291840,144.381241,NaN,145.843704,NaN,0.003441
2000-01-27,141.843704,142.218704,140.093704,140.812500,141.546799,39.075251,144.012491,NaN,144.474963,NaN,0.005966
2000-01-28,139.437500,140.062500,138.125000,140.250000,142.218704,37.943665,143.731241,-0.240125,143.379971,NaN,-0.017109

In [15]:
df = df.dropna()

In [17]:
df.head(20)

,Open,High,Low,Close,high,RSI,SMA,Corr,SAR,ADX,Return
Date,,,,,,,,,,,
2000-01-31,135.812500,139.671799,135.531204,135.875000,140.062500,30.348514,142.818741,0.290914,142.328977,31.734838,-0.026341
2000-02-01,139.750000,141.687500,135.000000,139.562500,139.671799,41.344141,142.078120,0.513762,135.000000,32.148366,0.028580
2000-02-02,141.281204,142.250000,138.531204,140.937500,141.687500,44.945065,141.590620,0.543169,135.000000,32.024322,0.010897
2000-02-03,140.875000,143.250000,140.375000,141.062500,142.250000,45.284361,140.996870,0.477415,135.000000,31.031837,-0.002879
2000-02-04,143.187500,144.000000,140.000000,143.187500,143.250000,50.989641,140.840620,0.151582,136.650000,29.490307,0.016282
2000-02-07,142.562500,142.781204,142.125000,142.593704,144.000000,49.390651,140.656241,-0.291728,138.120000,28.102930,-0.004374
2000-02-08,143.968704,144.562500,141.437500,142.375000,142.781204,48.764832,140.859370,-0.362776,139.296000,25.296789,0.009815
2000-02-09,144.468704,144.468704,143.625000,144.312500,144.562500,54.446400,141.096870,-0.577724,140.349300,22.771262,0.003467
2000-02-10,141.625000,142.562500,141.265594,141.281204,144.468704,45.646944,141.143741,-0.688139,141.191940,22.302749,-0.019880
2000-02-11,141.843704,141.937500,140.875000,141.562500,142.562500,46.537837,141.274991,-0.897997,144.562500,22.144344,0.001543
2000-02-14,139.781204,139.781204,138.031204,138.687500,141.937500,39.234776,141.556241,-0.719037,143.825000,23.637678,-0.014647
2000-02-15,139.250000,141.218704,138.312500,139.500000,139.781204,42.088466,141.549991,-0.719864,142.666241,23.558049,-0.003807
2000-02-16,140.375000,140.937500,137.796799,141.078094,141.218704,47.417629,141.564050,-0.715379,141.739234,23.793105,0.008047
2000-02-17,140.437500,140.437500,138.796799,139.000000,140.937500,41.790792,141.357800,-0.738688,141.218704,24.004655,0.000445
2000-02-18,138.875000,138.875000,138.218704,138.281204,140.437500,39.968010,140.867171,-0.417339,140.937500,24.581406,-0.011188
2000-02-22,135.187500,136.343704,134.625000,135.312500,138.875000,33.302290,140.139050,0.401638,140.437500,26.960138,-0.026912
2000-02-23,135.625000,137.468704,133.531204,134.968704,136.343704,32.602644,139.398421,0.692313,139.275000,27.849677,0.003231
2000-02-24,136.687500,137.031204,134.500000,136.562500,137.468704,39.183952,138.623421,0.764647,138.126241,28.650261,0.007804
2000-02-25,135.187500,136.718704,133.093704,133.812500,137.031204,33.005098,137.876550,0.851208,137.468704,30.109518,-0.011035
2000-02-28,133.375000,136.687500,133.125000,133.328094,136.718704,32.016969,137.053110,0.904346,137.031204,31.422849,-0.013498

In [22]:
ss = StandardScaler()
df.shape

(4409, 11)

In [23]:
x = np.reshape(ss.fit_transform(df[:split]), (-1, df.shape[1]))
x.shape

(3543, 11)

In [ ]:
regime = unsup.predict(np.reshape(ss.fit_transform(df[split:]),(-1, df.shape[1])))